/* Container styles */
.chat-interface-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width:100%;
}

.chat-interface-container-mini {
  width: 350px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color:white;
}

.chat-interface-container-full {
  width: 100%;
  height: 600px;
}

/* Header styles */
.chat-header {
  background-color: #007bff;
  color: white;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Body styles */
.chat-body {
  display: flex;
  flex-direction: column;
  height:530px;
  overflow-y: auto;
  
}

.chat-body-mini {
  max-height: 300px;
  padding-bottom: 50px; 
}

.chat-body-full {
  max-height: 100%;
}

/* Footer styles */
.chat-footer {
  position: absolute;
  bottom: 0; /* Align to the bottom */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  padding: 10px;
  background-color: #f8f9fa;
  display: flex;
  gap: 10px;
  z-index: 100; /* Ensure it's above other elements */
}


/* Mini-specific footer styles */
.chat-footer-mini {
  padding: 6px;
}

/* Full-specific footer styles */
.chat-footer-full {
  padding: 10px;
}

/* Input styles */
input[type="text"] {
  flex-grow: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Mini-specific input styles */
.input-mini {
  padding: 6px;
  font-size: 0.9em;
}

/* Full-specific input styles */
.input-full {
  padding: 8px;
  font-size: 1em;
}


/* Button styles */
button {
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Mini-specific button styles */
.send-button-mini {
  padding: 6px 8px;
  font-size: 0.9em;
}

/* Full-specific button styles */
.send-button-full {
  padding: 8px 10px;
  font-size: 1em;
}

/* Message styles */
.message {
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 8px 12px;
  margin-bottom: 8px;
  max-width: 80%;
  word-wrap: break-word;
}

.message.buyer {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.message.vendor {
  background-color: #ffffff;
  align-self: flex-start;
}

/* Mini-specific message styles */
.message.mini {
  font-size: 0.85em;
  padding: 5px 7px;
  margin-bottom: 5px;
}

/* Full-specific message styles */
.message.full {
  font-size: 1em;
  padding: 8px 10px;
  margin-bottom: 8px;
}

.message-header {
  font-size: 0.8em;
  margin-bottom: 4px;
}

.message-content {
  font-size: 1em;
}

.message-timestamp {
  text-align: right;
  font-size: 0.7em;
  margin-top: 4px;
}
