/* Container styles */
.chat-interface-container {
  background-color: white;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  font-size: 14px;
  /* Choose a font-size that suits your design */

}

.chat-interface-container-mini {
  width: 350px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  
}

.chat-interface-container-full {
  width: 100%;
  height: 700px;
}

/* Header styles */
.chat-header {
  background-color: whitesmoke;
  color: #8cc43c;
  font-weight:500;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Body styles */
.chat-body {
  background-color: whitesmoke;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 300px;
}

.chat-body-mini {
  max-height: 300px;
  overflow-y: auto;
}

.chat-body-full {
  max-height: 100%;
}

.chat-footer {
  padding: 10px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  /* Ensure footer is positioned relative to its container */
}

.input-mini {
  flex-grow: 1;
  padding: 6px 12px;
  border: none;
  border-radius: 15px;
  background-color: #40444B;
  /* Adjust color as needed */
  color: white;
  margin-right: 8px;
  /* Adjust spacing as needed */
}

/* Styles for the full chat input field */
.input-full {
  flex-grow: 1;
  padding: 8px 16px;
  
  border-radius: 15px;
  background-color: #40444B;
  /* Adjust color as needed */
  color: white;
  margin-right: 10px;
  
  /* Adjust spacing as needed */
};

.input-mini:hover {
  border-color: #50555C; /* Darker shade for hover effect */
  border-width: 2px;
}

/* Hover effect for full chat input field */
.input-full:hover {
  background-color: #50555C; /* Darker shade for hover effect */
  border-color: #8cc43c; /* Darker shade for hover effect */
  border-width: 1px;
}

/* Styles for the mini chat send button */
.send-button-mini {
  padding: 6px 12px;
  background-color: #D2691E;
  /* Adjust color as needed */
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Styles for the full chat send button */
.send-button-full {
  padding: 8px 16px;
  background-color: #D2691E;
  /* Adjust color as needed */
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Hover effect for mini chat send button */
.send-button-mini:hover {
  background-color: #6D737A; /* Darker shade for hover effect */
}

/* Hover effect for full chat send button */
.send-button-full:hover {
  background-color: #6D737A; /* Darker shade for hover effect */
}

/* Message styles */
.message {
  margin: 5px 10px;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 80%;
  word-wrap: break-word;
}

.message.buyer {
  background-color: #ceeab9;
  align-self: flex-end;
  margin-left: auto;
  /* Pushes the message to the right */
  margin-right: 10px;
}

/* Ensure that the vendor's messages appear on the left */
.message.vendor {
  background-color: #dcd8d8;
  align-self: flex-start;
  margin-right: auto;
  /* Pushes the message to the left */
  margin-left: 10px;
}

/* Mini-specific message styles */
.message.mini {
  font-size: 0.85em;
  max-width: 80%;
  /* Adjust the font-size for mini chat */
}

/* Full-specific message styles */
.message.full {
  font-size: 1em;
  max-width: 60%;
  /* Adjust the font-size for full chat */
}

/* Message content styles */
.message-content {
  font-size: 1.2em;
  /* Adjust as needed for your design */
  color: black;
}

/* Timestamp and header styles */
.message-timestamp,
.message-header {
  color: #D2691E;
};

