/* styles.css or similar */
.karkhanay-title {
    display: inline-flex;
     /* Semi-transparent white background */
    padding: px 20px; /* Adjust as necessary */
    font-size: 6rem; /* Larger font size */
    font-weight: bold;
    margin-bottom: 0px;
    border-radius: 10px; /* Rounded corners */
    color: #8cc43c; /* Your brand color */
    
}

.hero-container {
    position: relative;
    background-image: url();
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  


.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Darker overlay for better text readability */
    z-index: 1;
}

.hero-content {
    position:relative;
    z-index: 2;
    text-align: center;
    max-width: 800px; /* adjust as necessary */
    margin: 0 auto;
    opacity: calc(2);
}

.offer-tag {
    display: inline-block;
    background-color: #8cc43c; /* adjust based on your brand color */
    padding: 5px 15px;
    font-size: 1rem;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.7rem;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.hero-cta {
     /* adjust based on your brand color */
    
    border: none;
    padding: 10px 25px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.hero-cta:hover {
    opacity: 0.8;
}

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .karkhanay-title {
        font-size: 4rem;
        padding: 5px 20px;
    }
    .hero-container {
        height: 400px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.1rem;
    }
    .hero-cta {
        padding: 8px 20px;
        font-size: 1rem;
    }
}

/* Media Query for Mobile */
@media screen and (max-width: 580px) {
    .karkhanay-title {
        font-size: 2rem;
        padding: 4px 15px;
    }
    .hero-container {
        height: 300px;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1rem;
    }
    .hero-cta {
        padding: 7px 18px;
        font-size: 0.9rem;
    }
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #8cc43c 15%,
    #003366 60%,
    #2c2525 67%,
    #808080 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: flex;
}