.page-container {
  display: flex;
  width: 100%;
  padding-inline: 20px;
}

.product-container {
  width: 63%;
  padding: 20px;
  /* Add additional styling as needed */
}

.pricing-container {
  width: 60%;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  height: 550px;
  position: sticky;
  top: 10px;
  /* Set top position to 0 so it sticks at the top of the viewport when you scroll down */
  align-self: start;
  background-color: #f5f5f5;
}

/* Responsive styling if needed */
@media (max-width: 768px) {
  .page-container {
    flex-direction: column;
  }

  .product-container,
  .pricing-container {
    width: 100%;
  }
}