.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.dropdown-button {
  background-color: #f9f9f9;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001;
}

.dropdown-content .dropdown-item {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1002;
}

.dropdown-item:hover .sub-dropdown-content {
  display: block;
}

.sub-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sub-dropdown-content a:hover {
  background-color: #ddd;
}
