.chat-app {
  display: flex;
  height: 90vh;
  /* Use the full height of the viewport */
  
}

.sidebar {
  width: 250px;
  /* Adjust as needed */
  background-color: whitesmoke;
  /* Dark background for the sidebar */
  color: white;
  overflow-y: auto;
  /* Scrollable sidebar */
  padding: 10px 0;
  /* Top and bottom padding */
  
  
}

.conversation {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  
  transition: background-color 0.2s;
  cursor: pointer;
}

.conversation:hover {
  background-color: #72767d;
  /* Lighten background on hover */
}

.conversation-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* Circular images */
  object-fit: cover;
  margin-right: 15px;
}

.conversation-details {
  flex-grow: 1;
  overflow: hidden;
}

.participant-name {
  font-weight: bold;
  font-size: 1rem;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-preview {
  font-size: 0.875rem;
  color: #B2B2B2;
  /* Lighter color for message preview */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timestamp {
  font-size: 0.75rem;
  color: #B2B2B2;
  /* Lighter color for timestamp */
  margin-left: auto;
  /* Push timestamp to the right */
}

.chat-area {
  flex-grow: 1;
  background: whitesmoke;
  border-left-color:black;
  border-left-width: 2px;
  


  /* Other styles for your chat area */
}

.select-conversation {
  padding: 20px;
  color: black;
  /* Additional styling for the 'Please select a conversation' prompt */
}